@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-flu{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}
